html,
body {
    background-color: #404040;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

html.lightmode,
body.lightmode {
    background-color: white;
    color: black;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.large-link {
    font-size: 34pt;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0px 20px 10px;
    box-decoration-break: clone;
    font-weight: normal;
}

.small-link {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
}

.fullscreen-div {
    width: 100%;
    height: 100%;
    background-color: #404040;
}

.rounded-div {
    border-radius: 10px;
    border-width: 0px;
    background-color: #606060;
    border-style: solid;
    /* border-color: lightgray; */
    padding: 10px;
    margin: 10px;
    width: 100%;
    /* height: 100%; */
    float: left;
    display: flex;
}

img {
    max-width: 90%;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.image-container {
    text-align: center;
    width: 25%;
    max-height: 20%;
}

.link-div {
    position: relative;
    display: flex;
    text-decoration: none;
    height: 100%;
}

.link-div {
    position: relative;
    display: flex;
    background-color: #606060;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.link-body {
    width: 75%;
}

.div-row {
    display: block;
}

.div-text,
.div-programming-languages {
    font-size: 12pt;
    padding: 10px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div-programming-languages {
    color: lightgrey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

h3#currentMapTitle {
    padding: 10px;
}

button {
    background-color: #ffffff;
    color: black;
    /* border-radius: 10px; */
    border-width: 1px;
    /* border-width: 0px; */
    padding: 0px;
    min-width: 50px;
}

.main-container {
    display: flex;
    height: 100%;
}

.main-sidebar-plus-tab {
    width: 40%;
    word-wrap: normal;
    display: flex;
}

.main-sidebar {
    padding: 0px 20px;
    width: 100%;
}

.main-sidebar-button {
    vertical-align: middle;
    margin-top: 40%;
    height: 1%;
    position: fixed;
    margin-left: 0.5%;
    margin-top: 20%;
    z-index: 9999;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.main-window {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.main-map {
    /* font-size: 10px; */
    /* color: black;
    padding: 0px;
    background-color: rgb(255, 255, 255);*/
    background-image: url("images/gaeldom-counties-map-small.png");
    /*background-size: 70%;*/
    background-repeat: no-repeat;
    /* background-position: right 20px top 10px; */
    /* width: 100%;
    overflow: scroll;
    height: 100%; */
}

.label-text {
    text-align: center;
    font-size: 8px;
    font-family: sans-serif;
}

.label-text-lasid-long {
    text-align: center;
    font-size: 8px;
    font-family: sans-serif;
}


.lasid-right-sidebar {
    max-height: 100%;
    max-width: 35%;
    width: 35%;
    padding: 5px;
    overflow: scroll;
}

.lasid-pane {
    max-height: 90%;
    overflow: scroll;
}

/* #transcriptionsPane {
    height: 10%;
} */

#lasid-transcriptions-table-body {
    border: 1px solid gray;
}

td {
    border: 1px solid gray;
    border-collapse: collapse;
}

thead {
    font-weight: bold;
    position: fixed;
    background-color: white;
    width: 100%;
    /* border: 1px solid gray; */
}

td:nth-child(1),
td:nth-child(2) {
    width: 50px;
    max-width: 50px;
}

.lasid-search-bar {
    margin: 10px 0px;
}


.lasid-transcriptions-button-group button {
    width: 50px;
    margin: 5px;
}

input {
    border-radius: 5px;
    border-width: 2px;
    border-color: #c0c0c0;

    outline: none;
    box-shadow: 0px 0px 2px #008080;
    border: 1px solid cyan;
}

input[type=text] {
    all: unset;
    padding: 5px;
    width: 60%;
    height: 20px;

    border-radius: 5px;
    border-width: 2px;
    border-color: #c0c0c0;

    outline: none;
    box-shadow: 0px 0px 2px #008080;
    border: 1px solid cyan;
}

.lasid-checkbox {
    width: 20px;
    min-width: 20px;
    margin: 8px;
}

button {
    all: unset;
}

.lasid-button {
    /* height: 20px; */
    /* padding-bottom: 8px;
    padding-top: 8px; */
    padding: 7px;

    border-radius: 5px;

    cursor: pointer;
}

.lasid-button,
.pane-tab,
button {
    background-color: #80ffff;
}

.lasid-button:hover,
.pane-tab:hover {
    background-color: #62cdcd;
}

.lasid-table {
    overflow: scroll;
    display: block;
    height: 93%;
}

.lasid-table thead {
    margin: -10px;
    padding-left: 5px;
    height: 30px;
}

.lasid-table thead tr {
    display: block;
    width: 100%;
}

.lasid-table tbody {
    display: block;
    padding-top: 10px;
}

.lasid-table td {
    border-left: 1px;
    border-right: 1px;
    border-top: 0px;
    border-bottom: 0px;

    padding: 5px 5px;
    vertical-align: text-top;
}

.lasid-table thead td:nth-child(1) {
    width: 55px;
    max-width: 55px;
}

.lasid-table td:nth-child(1) {
    width: 50px;
    max-width: 50px;
}

.lasid-table td:nth-child(2) {
    width: 50px;
    max-width: 50px;
}

.lasid-table td:nth-child(3) {
    width: 45px;
    max-width: 45px;
}

.lasid-table .vol-i-link-span {
    display: inline-block;
    width: auto;
}



.lasid-row-selected,
.pane-tab-selected {
    background-color: #40ffff;
}

.lasid-row-unselected:nth-child(odd) {
    background-color: white;
}

.lasid-row-unselected:nth-child(even) {
    background-color: #e0e0e0;
}

div#map {
    height: 180px;
    min-height: 180px;
    min-width: 100px;
}

.pane-tabs {
    display: flex;
}

.pane-tab {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    margin: 1px;
    width: 100%;
    word-wrap: break-word;
}

.pane-tab-selected {
    font-weight: bold;
}